* {
    background-color: whitesmoke;
    font-family: tahoma;
}
.main{
    width: 750px;
    height: 750px;
    background-color: white;
    margin: auto;
}
.menu{
    width: 100%;
    height: 88px;
    background-color: coral;
}
.mainPhoto{
    width: 25%;
    height: 30%;
    background-color: white;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
}
.colums{
    width: 20.8333325%;
    height: 20%;
    background-color: white;
    float: left;
    margin-left: 3%;
    margin-top: 1%;
    position: relative;
    text-align: center;
}
.colums div {
    width: 100%;
    margin-top: 72.5%;
    background-color: white;
    font-weight: 700;
}


.button{
    width: 68.6%;
    height: 8%;
    background-color: white;
    float: left;
    margin-left: 3%;
    margin-top: 2%;
   
    
    
}
.info{
    width: 93.5%;
    height: 3%;
    background-color: white;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
    padding-left: 3%
  
    
    
}
.href{
    width: 93.5%;
    height: 3%;
    background-color: white;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
    padding-left: 3%
   
    
}
.footer{
     width: 100%;
    height: 90px;
    background-color: darkgray;
    float: left;
    margin-top: 1%;
    margin-bottom: 1%;
}
.EditProfile{
    font-family: tahoma;
    font-size: 22px;
    background-color: whitesmoke;
    text-align: center;
    width: 100%;
    height: 60;
    border-radius: 5px;
    
}
.accountPhoto{
    margin-left: 10%;
    margin-top: 30%

}
ul{
    display: none;
}
li a {
    display: block; /* Ссылка как блочный элемент */
    padding: 5px; /* Поля вокруг надписи */
    text-decoration: none; /* Подчеркивание у ссылок убираем */
    color: #666; /* Цвет текста */
    border: 1px solid #ccc;/* Рамка вокруг пунктов меню */
    background-color: #f0f0f0; /* Цвет фона */
    border-bottom: none; /* Границу снизу не проводим */
   }
li a:hover {
    color: #ffe; /* Цвет текста активного пункта */
    background-color: #5488af; /* Цвет фона активного пункта */
   }
area:hover ul {
    display:block;
}